/* adbuilder */


/* ------------------------------------------------ */

.assets_outer { }

.asset_group,
[class*=_group] { 
  position: relative;
  /* display: block; */
  margin-top: 2rem
}
.progress_brand .asset_group,
.progress_colours .asset_group,
.progress_images .asset_group {
	margin-top: 2rem
}

.asset_group label,
[class*=_group] label{ max-width: 90%; }

.add_outer { 
  width: 90%;
  display: flex;
  justify-content: center;
}

.assets_label .upload_message,
.asset_group .upload_message,
.upload_message {
  font-size: 0.675rem;
  font-weight: 500;
  color: #00d084;
  background-color: #e9fce9;
  padding: 0.25rem 1rem;
  transition: all 2s ease-in-out 1s;
  /* width: 140px; */
}

.upload_message.loading {
  width: 100%!important;
}

/* ------------------------------------------------ */
/* section 01 */

@media screen and ( max-width: 1080px ){
    #section_01 .next { 
        margin-top: 0 !important;
    }
}

.warning.required {
    font-size: 0.6rem;
    font-weight: 500;
}

/* ------------------------------------------------ */
/* colour picker */

.clr-field button {
  border-radius: 0;
  width: 30px;
  height: 34px;
  /* left: 105%; */
}


/* ------------------------------------------------ */
/* images */

.images_check label {
    font-size: 0.6rem;
    text-indent: -1.5rem;
    margin-left: 1.5rem;
}


/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* update banner */

.update_progress {
  /* height: 60px; */
  /* margin-top: var(--header-height); */
}
.has-banner .update_progress {
  /* margin-top: calc(var(--header-height) + var(--banner-height)); */
}

:root {
  --font-size-default: .875rem;
  --banner-height:100px;
}

.update_progress .column_wrap {
  padding: 1% 0 1%;
}

.progress_update {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
}

.progress_update li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: var(--font-size-xs);
  line-height: 1.5;
  color: var(--gray-600);
  font-weight: 400;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
  border-bottom: 2px solid var(--gray-300);
  /* border-bottom: 2px solid rgba(var(--red-rgb),0.3); */
}
.progress_update li.is-active {
    font-weight: 600;
}
.progress_update li:first-child {
  text-align: left;
}
.progress_update li:first-child,
.progress_update li:last-child {
  flex: 1;
}
.progress_update li:last-child {
  text-align: right;
}
.progress_update li:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--gray-300);
  /* background-color: var(--red); */
  border-radius: 50%;
  border: 2px solid var(--white);
  /* border-bottom: 2px solid rgba(var(--primary-dark-rgb),1); */
  position: absolute;
  left: calc(50% - 6px);
  bottom: -7px;
  z-index: 3;
  transition: all .2s ease-in-out;
}
.progress_update li:first-child:before {
  left: 0;
}
.progress_update li:last-child:before {
  right: 0;
  left: auto;
}
.progress_update span {
  transition: opacity .3s ease-in-out;
}
.progress_update li:not(.is-active) span {
  opacity: 0.45;
}
@media screen and ( max-width: 1080px ){
  .progress_update li:not(.is-active) span {
    opacity: 0;
  }
}
.progress_update .is-complete:not(:first-child):after,
.progress_update .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
  /* border-bottom: 2px solid var(--gray-500); */
  border-bottom: 2px solid rgba(var(--primary-dark-rgb),1);
}
.progress_update li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}

.progress_update .is-complete:last-child:after,
.progress_update .is-active:last-child:after {
  width: 200%;
  left: -100%;
}

.progress_update .is-complete:before {
  /* background-color: var(--gray-500); */
  background-color: rgba(var(--primary-dark-rgb),1);
}

.progress_update .is-active:before,
.progress_update li:hover:before,
.progress_update .is-hovered:before {
  background-color: var(--white);
  /* border-color: var(--gray-500); */
  border-color:rgba(var(--primary-dark-rgb),1);
}
.progress_update li:hover:before,
.progress_update .is-hovered:before {
  transform: scale(1.33);
}

.progress_update li:hover span,
.progress_update li.is-hovered span {
  opacity: 1;
}

.progress_update:hover li:not(:hover) span {
  opacity: 0;
}

.x-ray .progress_update,
.x-ray .progress_update li {
  border: 1px dashed red;
}

.progress_update .has-changes {
  opacity: 1 !important;
}
.progress_update .has-changes:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 4px);
  bottom: -20px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
}


/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* subtotal banner */

html {
    scroll-snap-type: y proximity;
}

:root {
  --subtotal-height: 77px;
}


.subtotal_banner_sect {
  width: 100%;
  position: fixed;
  /* position: absolute;
  top: calc(100vh - var(--subtotal-height)); */
  bottom: 0;
  background-color: rgba(var(--white-rgb),0.8);
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--gray-200);
  font-size: var(--font-size-xs);
  transition: all 0.25s ease-in-out;
  /* scroll-snap-align: start; */
}

/* --- disabled --- */
/*
.subtotal_banner_sect.footer_reached {
  bottom: var(--footer-height);
  scroll-snap-align: start;
} 
*/


@media screen and ( max-width: 1080px ){
    .subtotal_banner_sect {
        position: relative;
        margin-top: 0;
    }
}

.subtotal_banner_sect .column_wrap {
  padding: 1% 0;
}
.subtotal_banner_sect .inline {
  margin-bottom:0;
  --columns: calc(10/4);
}
@media screen and (min-width: 680px) and (max-width: 1080px){
  .column_group.subtotal_banner {
      flex-direction: row;
  }
}
.subtotal_banner_sect .column_third:last-of-type {
  text-align: right;
}
@media screen and ( max-width: 1080px ){
  .subtotal_banner_sect .column_third:last-of-type {
    text-align: center;
  }
}
.subtotal_banner_sect #subtotal_col3 div.uploaded_items {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.subtotal_banner_sect .fas {
  font-size: 1.414rem;
  margin-bottom: 0.25em;
}
.subtotal_banner_sect h5 {
  margin-top: 0;
  margin-bottom:0.25em;
}
.subtotal_banner_sect h5 sup {
  font-weight: 300;
}

.subtotal_banner_sect .disclaimer {
  font-size: var(--font-size-xs);
}
.subtotal_banner_sect .disclaimer a {
  font-weight: 500;
}

.subtotal_banner {
  padding: 0 2rem;
  /* margin: 0 0 1rem 0; */
  width: 100%;
  display: flex;
  gap: 2rem;
}
@media screen and ( max-width: 1080px ){
    .subtotal_banner {
        padding: 0 !important;
        gap:1rem;
    }
}

/* -------------------------------- */
/* AdBuilder Sections */


[class*="progress_"] .column_wrap {
  padding: 1% 0 1%;
}


.progress_start .column_wrap {
  align-items: flex-end;
}



/* -------------------------------- */
/*  */



.adbuilder .selected_region {
  margin: 0 2rem;
  padding: 2rem;
  background: #fff;
  color: var(--theme-dark);
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
  padding: 2em;
  position: relative;
  min-height: 0;
}

@media screen and ( max-width: 1080px ){
    .adbuilder .selected_region {
        margin: auto 0 0 0 !important;
    }
}

/*  */
.progress_region .region_form {
  /* 
  position: absolute;
  top: 30%;
  width: 100%; 
  */
}


.selected_regions {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.selected_regions div {
  padding: 0.5rem;
  background-color: var(--gray-100);
}
.selected_regions div:nth-of-type(2) {
  background-color: var(--white);
}

.leaflet-container a.leaflet-popup-close-button {
  border-radius: 100%;
  padding: 0.25rem;
  /* border: solid 1px red; */
  background: white;
  top: -0.5rem;
  right: -0.5rem;
}

.selected_region p {
  margin-top: 0.25rem;
  margin-bottom: 0rem;
  font-size: 0.75rem;
}


.buy_options_outer.selected_region p {
  margin-top: 1rem;
}


.selected_regions div:last-of-type {
  border-bottom: solid 1px var(--gray-200);
}




/* COLOURS */

label[id*="colour"] {
    display: flex;
    align-items: center;
}

.colour_picker_button {
  width:40px;
  height: 40px;
  border-radius: 4px;
  display: inline-block;
}
.colour_picker_text {
  display: inline-block;
  margin-left: 1rem;
}

#color_picker .rgba_divider:nth-of-type(4) {
  display: none;
}

#color_picker .rgba_input, 
#color_picker .hsla_input {
  margin: 0 1px;
  width: 40px;
}


