/* buttons.css */


.button_wrap {
    margin: 2rem auto 2rem auto;
    max-width: 410px;
    width: var(--col-mx-width);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button {
    font-size: 14px;
    border-radius: 0px;
    min-width: 150px;
}

.button {    
    font-weight: 500;
    padding: .5em 1em;
    line-height: 1.7em!important;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all!important;
    transition-property: all!important;
}

.button:hover {
    
    border-radius: 0px;
}

.next {
    background-color: var(--theme-dark);
    color: #fff;
    border-color: var(--theme-dark);
}
.next:hover {
    background-color: rgba(var(--theme-black-rgb),0.7);
    color: #fff;
    border-color: rgba(var(--theme-black-rgb),0.9);
}

.back {
    background-color: white;
    color: var(--theme-dark);
    border-color: var(--theme-dark);
}
.back:hover {
    background-color: rgba(var(--theme-black-rgb),0.3);
    color: white;
    border-color: rgba(var(--theme-black-rgb),0.3);
}
