/* checkout */


#checkout .woocommerce {
    margin: auto 2rem;
}

/*  */
#checkout .col2-set,
#checkout .checkout_col_2 {
    position: relative;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
