/* checkout */


#checkout .woocommerce {
    /* margin: auto 2rem;
    position: relative;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 3rem; */
}

#checkbox form,
.checkout.woocommerce-checkout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
}

/*  */
#checkout .col2-set,
#checkout .checkout_col_2 {
    max-width: calc((1200px * 0.5) - 3rem );
    width: calc(var(--col-width) * 6);
    height:auto;
    position: relative;
}

.col2-set .form-row-first,
.col2-set .form-row-last {
    width: 45%;   
}

#checkout #order_review_heading, 
#checkout #order_review {
    /* width: 90% !important;
    float: left; */
    margin-left: 0% !important;
    /* clear: left; */
}

#checkout #payment .place-order .button {
    font-size: 14px;
    width: unset;
}

#checkout select#billing_state {

}
/* ------------------------------------------------ */

#checkout select {
    margin: 0.12em 0;
    padding: 0.25em 0.4em;
    border: 1px solid #ddd;
    max-width: 100%;
}

#checkout select {
    display: block;
    width: 100%;
    font-size: 1rem;
}


#checkout select::-ms-expand {
    display: none;
}
