/* checkout */


#checkout .woocommerce {
    margin: auto 2rem;
    position: relative;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#checkbox form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
}

/*  */
#checkout .col2-set,
#checkout .checkout_col_2 {
    max-width: calc((1200px * 0.5) - 3rem );
    width: calc(var(--col-width) * 6);
    height:auto;
    position: relative;
}

#checkout #order_review_heading, 
#checkout #order_review {
    /* width: 90% !important;
    float: left; */
    margin-left: 0% !important;
    /* clear: left; */
}