/* dashboard.css */

#dashboard_list {
    display: fixed;

}

#dashboard_job {}


/* -------------------------------------------- */
/* WARNINGS */

.warnings_group {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.pending i{ 
    color: orange;
}
.warning i {
    color: red;
}

/* -------------------------------------------- */
/* select row */

.select.hide {
    display: none;
}

/* -------------------------------------------- */
/* table elements */

#dashboard table thead th {
    padding: 0.5em;
}
#dashboard table td, table th {
    padding: 0.5em;
    text-align: left;
}

#dashboard table td, #dashboard table th {
    /* padding: 1em 1.41575em;
    text-align: left; */
    vertical-align: middle;
}

#dashboard table:not( .has-background ) th {}



#dashboard #data-table .table__row--header th { 
    background-color: #0f0f0f;
    color: white;
    padding: 0.5rem 0.25rem 0.25rem 1rem;
}

#dashboard #data-table .table__row th {
    background-color: white;
    color: #0f0f0f;
}

th {
    text-align: left;
    font-weight: 500;
    border: none;
}

td, th {
    padding: 0.5em 1em;
    /* min-width: 5em; */
    border-bottom: 1px solid #ddd;
}

#dashboard th span,
#dashboard td span {
    display: inline-block;
    /* min-width: 5em; */
    overflow-wrap:normal;
    word-wrap:normal;
    hyphens:none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

::-webkit-scrollbar {
    /* display: none; */
}
  
table a {
    text-decoration: underline;
    color: #000;
}


.data-body {
  width: 100%;
}

.scroll-check {
  width: 100%;
  /* height: 500px; */
  overflow-y: scroll;
  margin-bottom: 5%;
}
@media screen and (max-width: 700px) {
  .scroll-check {
    overflow-x: scroll;
  }
}



/* -------------------------------------------- */



#data-table {
    width: 100%;
    /* min-width: 600px; */
}
#data-table .table__row--header {
    background-color: #0f0f0f;
    color: #ffffff;
}
#data-table .table__row--header th:first-child {
    text-align: center;
}
#data-table .table__row--header .header__title {
    display: block;
    padding: 1rem 0;
    text-transform: capitalize;
    font-weight: 400;
}
#data-table .table__row {
    height: 4rem;
}
#data-table .table__row:nth-child(odd) {
    background-color: #fdfdfd;
}
#data-table .table__row .id {
    text-align: center;
}
#data-table .table__row .price,
#data-table .table__row .merchant {
    font-weight: 400;
    font-size: 1rem;
}
#data-table .table__row .date,
#data-table .table__row .charge {
    text-transform: capitalize;
    font-size: 0.85rem;
    color: #8a8a8a;
}

/* -------------------------------------------- */
/* cell / span */
.select, .campaign, .region, .assets, .invoice {}

.assets {
    text-align: center;
}

/* -------------------------------------------- */
/* progress bar */

#data-table .progress label {
    display: flex;
    flex-direction: column;
}
#data-table .progress_label {
    text-align: right;
}
#data-table progress {
    width: 100%;
    min-width: 5em;
}

@media screen and (max-width: 860px) {
    #data-table col:nth-child(1) {
        display: none;
    }
}
  
/* -------------------------------------------- */
/* status */


span.status.open:before {
    background-color: #25de00;
    /* border-color: #78D965; */
    border-color: #fff;
    box-shadow: 0px 0px 4px 1px #94E185;
}
span.status.pending:before {
    background-color: #ff8000;
    /* border-color: #FFB161; */
    border-color: #fff;
    box-shadow: 0px 0px 4px 1px #FFC182;
}
span.status.declined:before {
    background-color: #C9404D;
    /* border-color: #C42C3B; */
    border-color: #fff;
    box-shadow: 0px 0px 4px 1px #C9404D;
}
span.status.undefined:before {
    background-color: #dadada;
    /* border-color: #C42C3B; */
    border-color: #fff;
    box-shadow: 0px 0px 4px 1px #dadada;
}
span.status.approved:before {
    font-family: 'Font Awesome 5 Free', 'FontAwesome'; 
    font-weight: 900; 
    content: '\f00c';
    color: #25de00;
    border:none;
    border-radius: 10px;
}

span.status:before {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 4px;
    border: 1px solid #000;
    border-radius: 10px;
}

/* -------------------------------------------- */
/* invoice */

.invoice {
    text-align: center;
}
.invoice .fas {
    margin: 0;
}


/* -------------------------------------------- */
/* edit / access */

.access-locked {
    color: var(--gray-500) ;
}
.access-unlocked {
    color: var(--gray-500) ;
}


/* -------------------------------------------- */
/* groups */

.select_group {
    display: block;
}
.select_wrapper, .checkbox_wrapper {
    display: inline-block;
}

/* long text solution ? */
.long_text {
    cursor: pointer;
}
.long_text::after {    
	display:block;
    background:#fff;
	position: absolute;
    /* top:0; */
    z-index: 999;
    visibility: hidden;
    opacity:0;
    box-shadow: 0px 0px 4px 1px #ededed;
    padding: 1rem;
    border: solid 1px #dedede;
    border-radius: 2px;
    transition: all 0.25s ease-in-out;
    content: " (" attr(data) ")";
}
.long_text:hover::after { 
    visibility: visible;
    opacity:1;
}

#dashboard select {
    /* reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    /* background-image:
    url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: calc(100% - .5em) center;
    background-size:
        0.8em; */
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 4px;
    padding-right: 3em;
  }

#dashboard select, #dashboard option {
    width:10em;
    max-width: 20ch;
}  
#dashboard select {
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em ),
    calc(100% - 15px) calc(1em ),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
}

#dashboard select:focus {
    background-image:
      linear-gradient(45deg, black 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, black 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: rgba(var(--theme-dark-rgb),0.3);
    outline: 0;
  }
  
  
  #dashboard select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 rgba(var(--theme-dark-rgb),0.3);
  }

  /* asset / job details */

  .thumb img {
      max-height: 3em;
  }

  .colour_swatch {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      background-color: turquoise;
  }

  .script {

  }