/* education.css */

#education .column_wrap {
    padding: 2.5% 0;
}

#education .text_block {
    margin-top: 2rem;
    text-align: left;
}
#education ._wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /* gap: calc(var(--gutter) * .5); */
}

#education ._wrap .panel {
    padding: 0;
    justify-content: flex-start;
}

#education ._wrap [class*="text_block"], 
#education .text_wrap  {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#education h5 {
    margin-bottom: 0.5rem;
}

#education section:not(.introduction) .column_third {
    /* width: calc(100% * 1/3); */
    /* width: calc(var(--col-width) * var(--columns) - 5.3333rem); */
}
/* #education .introduction .column_50 {
    max-width: calc((1200px * var(--columns)/10) - (2rem * 1/2)  );
    width: calc(var(--col-width) * var(--columns));
} */

/* #education .introduction .column_third {
    max-width: calc((1200px * var(--columns)/10) - (2rem * 2/3)  );
    width: calc(var(--col-width) * var(--columns));
} */

#education section:not(.introduction) .column_third {
    max-width: calc((1200px * 3/10)  - (2rem * 2/3)  );
    width: calc(10/3);
}

@media screen and (max-width: 1080px){
    #education section:not(.introduction) .column_third {
        max-width: calc((90vw * 1/2)  - (2rem * 1/2)  );
        width: calc(var(--col-width) * var(--columns));
        margin: 0;
    }    
}

@media screen and (max-width: 880px){
    #education section:not(.introduction) .column_third {
        max-width: 90vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


#education .markets_map,
#education .markets_map .column_wrap,
#education .markets_map .column_100,
#education .markets_map .column_row { 
    width: 100vw; 
    width: 100vw; 
    max-width: unset;
}


#education #map{ 
    height: calc(100vh - (var(--header-height)));
}
#education.has-banner #map  {
    height: calc(100vh - (var(--header-height) + var(--banner-height)));
}

#education #map button:last-of-type {
    display: none;
}