/* forms.css */


/* -------------------------------------------------------------- 
   FORMS
-------------------------------------------------------------- */

.forms.wrapper {
  /* max-width: 410px; */
  /* width: var(--col-mx-width); */
  margin: auto;  
}


.forms fieldset {
    padding: 1em 1em;
    margin: 1em 0;
  }
  .forms legend {
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
  }
  .forms label {
    display: block;
    margin: 1em 0;
    font-size: 0.8rem;
    max-width: 100%;
    cursor: pointer;
  }

  .forms label textarea, .forms label select, 
  .forms label input[type=text], .forms label input[type=email], 
  .forms label input[type=search], .forms label input[type=tel], 
  .forms label input[type=url], .forms label input[type=password], 
  .forms label input[type=color], .forms label input[type=file], 
  .forms label input[type=color], .forms label input[type=number], 
  .forms label input[type=range], .forms label input[type=date], 
  .forms label input[type=month], .forms label input[type=week], 
  .forms label input[type=time], .forms label input[type=datetime], 
  .forms label input[type=datetime-local],
  .forms label input:not([type=radio]),
  .forms label input:not([type=checkbox]) {
    display: block;
    width: 100%;
    font-size: 1rem;
  }

  /* ------------------------------------------------ */
  /* checkbox fix */
  /* ------------------------------------------------ */

  .forms label[class*=radio],
  .forms label[class*=checkbox] {
    display: inline-block;
  }

  .forms label input[type=radio],
  .forms label input[type=checkbox] {
    display: inline-block;
    width: max-content;
    font-size: 1rem;
  }

  /* ------------------------------------------------ */


  .forms textarea, .forms select, .forms input[type=text], .forms input[type=email], .forms input[type=search], .forms input[type=tel], .forms input[type=url], .forms input[type=password], .forms input[type=color], .forms input[type=file], .forms input[type=color], .forms input[type=number], .forms input[type=range], .forms input[type=date], .forms input[type=month], .forms input[type=week], .forms input[type=time], .forms input[type=datetime], .forms input[type=datetime-local] {
    margin: 0.12em 0;
    padding: 0.25em 0.4em;
    border: 1px solid #ddd;
    max-width: 100%;
  }
  .forms input[type=search] {
    box-sizing: border-box;
  }
  .forms input[type=file] {
    border-width: 0;
    padding: 0;
  }
  .forms input[type=image] {
    vertical-align: bottom;
  }

  .forms ::placeholder {
    /* color: turquoise; */
  }

/* ------------------------------------------------------- */
/* files upload */

/* wtf,forms */

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

input[type='file'],
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='file']:before,
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}
input[type='file']:after,
.file-custom:after {
  content: "Choose file...";
}

input[type='file'] {
    
}

/* ------------------------------------------------ */

.assets_outer { }

.asset_group,
[class*=_group] { 
  position: relative;
  display: block;
 }

.asset_group label,
[class*=_group] label{ max-width: 90%; }

.add_outer { 
  width: 90%;
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------ */
/* colour picker */

.clr-field button {
  border-radius: 100%;
  width: 44px;
  left: 105%;
}