/* landing.css */

:root {
    --panel-height: calc(100vh);
}

.hero, .img_overlay {
    height: 100vh;
    width: 100vw;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.landing {
    background-image: url(../img/landing_hero_bg.jpg);
    /* background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url(../img/landing_hero_bg.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
@media screen and ( max-width: 1080px ){
    .hero {
        
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: unset;
    }    
}

.hero section {
    position: absolute;
    z-index: 111;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90vw;
}
@media screen and ( max-width: 1080px ){
    .hero section {
        position: relative;
    }
}

[class*='slide'].overlay {
    position: absolute;
    
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
[class*='slide'].overlay[class*='right'] {
    background-position: center left;
}
@media screen and ( max-width: 1080px ){
    [class*='slide'].overlay {
        min-height: 100%;
    }
}

.slide-in_left {
    z-index: 11;
    right: 10%;
    background-image: url(../img/red_slide.svg);
    /* filter:opacity(60%) saturate(2) contrast(2) brightness(.8); */
    mix-blend-mode: multiply;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.slide-in_right {
    z-index: 22;
    left: 75%;
    background-image: url(../img/black_slide.svg);
    /* filter:opacity(60%) saturate(2) contrast(2) brightness(.8); */
    mix-blend-mode: multiply;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
@media screen and ( max-width: 1080px ){
    .slide-in_left {
        right: -90%;
        width: 200vw !important;
    }
    .slide-in_right {
        left: 55%;
    }
}

