/* landing.css */

:root {
    --panel-height: calc(100vh);
}

.hero, .img_overlay {
    height: 101vh;
    width: 100vw;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.new_home .hero {
    padding-top: 0 !important;
    margin-top: 0; 
}

.has-banner .hero, .has-banner .img_overlay {
    padding-top: calc(var(--header-height) + var(--banner-height));
}
/* @media screen and ( max-width: 1080px ){
    .hero, .img_overlay {
        padding-top: var(--header-height);
    }
    .has-banner .hero, .has-banner .img_overlay {
        padding-top: calc(var(--header-height) + var(--banner-height));
    }
} */
#account .hero, 
#dashboard .hero,
#menu_test .hero {
    height: 50vh;
}

.section {
    position: relative;
}
.section_bg_inner {
    height: 100%;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    mix-blend-mode: multiply;
}
.business_growth {}

.easy .section_bg_inner {
    mix-blend-mode: normal;
    opacity: 0.6;
}

.hero, .bg_img {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
@media screen and ( max-width: 1080px ){
    .hero  {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: unset;
    }    
}

.landing .hero, .home .hero, .new_home .hero {
    background-image: url(../img/landing_hero_bg.jpg);
    /* background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url(../img/landing_hero_bg.jpg); */
}

#home .easy.bg_img {
    background-image: url(./../img/temp_cafe_hero_bg.jpg);
}

#home .optimised.bg_img {
    background-image: url(./../img/temp_grey_hero_bg.jpg);
}



#signup .hero{
    background-image: url(../img/signup_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
}

#account .hero{
    background-image: url(../img/signup_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
}

#dashboard .hero{
    background-image: url(../img/signup_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
}


#menu_test .hero{
    background-image: url(../img/signup_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
}



.hero section {
    position: absolute;
    z-index: 111;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90vw;
}
@media screen and ( max-width: 1080px ){
    .hero section,
    #signup .hero  {
        position: relative;
        width: 80vw;
    }
}


/* ------------------------------------------ */
/* sliding sections */
/* ------------------------------------------ */


[class*='slide'] {
    /* -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; */
}

[class*='slide'] {
    position: absolute;    
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    /* overflow: hidden; */
}
[class*='slide'][class*='right'] {
    background-position: center left;
    bottom:0;
}
@media screen and ( max-width: 1080px ){
    [class*='slide'] {
        min-height: 100%;
    }
}

.slide-in_left {
    z-index: 11;
    right: 10%;
    background-image: url(../img/red_slide.svg);
    mix-blend-mode: multiply;
}
.slide-in_left_yellow {
    z-index: 11;
    right: 10%;
    background-image: url(../img/yellow_slide.svg);
    mix-blend-mode: multiply;
}
.slide-in_left-down {
    z-index: 12;
    right: 13.5%;
    background-image: url(../img/red_slide_down.svg);
    mix-blend-mode:overlay;
    opacity: 0.8;
}
.slide-in_right {
    z-index: 22;
    left: 80%;
    background-image: url(../img/black_slide.svg);
    mix-blend-mode: multiply;
    opacity: 0.8;
}
#signup .slide-in_right {
    z-index: 22;
    left: 65%;
    background-image: url(../img/black_slide.svg);
    mix-blend-mode: multiply;
    opacity: 0.3;
}
.slide-in_right-down {
    z-index: 22;
    left: 75%;
    background-image: url(../img/black_slide.svg);
    mix-blend-mode: overlay;
    opacity: 0.1;
}
.slide-in_right-down_alt {
    z-index: 22;
    left: 60%;
    background-image: url(../img/black_alt_slide.svg);
    mix-blend-mode: overlay;
    opacity: 0.1;
}
.slide-in_right-light {
    z-index: 33;
    left: 45%;
    background-image: url(../img/white_slide.svg);
    mix-blend-mode: multiply;
    opacity: 0.1;
}
.slide-in_left-double {
    z-index: 33;
    right: 40%;
    top:-50%;
    height: 150%;
    background-image: url(../img/red_yellow_slide.svg);
    mix-blend-mode: multiply;
    opacity: 1;
} 


@media screen and ( max-width: 1080px ){
    .slide-in_left {
        right: -90%;
        width: 200vw !important;
    }
    .slide-in_right {
        left: 55%;
    }
}

