/* navigation_v2.css */

.header {
    background: #fff;
}

/* ------------------------------------------- */

.logo {
    position: absolute;
    top: 14px;
    width: 362px;
}
.logo_link {
    height: 60px;
    width: 362px;
    display: block;
}

@media screen 
    and ( max-width: 1180px ) 
{
    .logo { transform: scale(0.85); transform-origin: center left;}
}

@media screen 
    and ( max-width: 680px ) 
{
    .logo { transform: scale(0.6); transform-origin: center left;}
}
@media screen 
    and ( max-width: 450px ) 
{
    .logo { transform: scale(0.4); transform-origin: center left;}
}

/* ------------------------------------------- */

.menu-item {
    color: rgba(var(--black-rgb),0.7);
}

.menu-link span, 
.menu-item a.has-sub {
    color: rgba(var(--black-rgb),0.7);
}
.menu-link:hover span, 
.menu-item a:hover.has-sub {
    color: rgba(var(--black-rgb),1.0);
}

.menu-list .menu-item .menu-link.has-sub::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.545 30.00091'%3E%3Cpath d='M.735,29.275a2.49872,2.49872,0,0,1-.00628-3.53372L.735,25.735l10.73-10.73L.735,4.275A2.50316,2.50316,0,0,1,4.275.735l14.27,14.27L4.275,29.275A2.51081,2.51081,0,0,1,.735,29.275Z' transform='translate(0 -0.00409)' fill='rgba(16,16,16,0.7)'/%3E%3C/svg%3E");    /* background: url(../img/dinkus/chev_r.svg); */
    background-position: center right;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width:12px;
    height:12px;
    position: absolute;
    right:1rem;
    margin-top: 0.5rem;
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-list .menu-item:hover .menu-link.has-sub::after,
.menu-list .menu-item .menu-link.has-sub:hover::after {
    transform: rotate(90deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.545 30.00091'%3E%3Cpath d='M.735,29.275a2.49872,2.49872,0,0,1-.00628-3.53372L.735,25.735l10.73-10.73L.735,4.275A2.50316,2.50316,0,0,1,4.275.735l14.27,14.27L4.275,29.275A2.51081,2.51081,0,0,1,.735,29.275Z' transform='translate(0 -0.00409)' fill='rgba(16,16,16,1)'/%3E%3C/svg%3E");    /* background: url(../img/dinkus/chev_r.svg); */
}

@media screen 
    and ( min-width: 1080px ) 
{
    .menu-list .menu-item:last-of-type {
        margin-right: 1rem;
    }
}

/* ------------------------------------------- */


a .account i, 
a .notice i, 
a .shopping i, 
/* a .account_sub, */
a .cart_sub_total,
a .help i {
    color: rgba(var(--black-rgb),0.7);
}

a:hover .account i, 
a:hover .shopping i,
a:hover .account_sub,
a:hover .cart_sub_total,
a:hover .help i,
a:hover .help_sub {
    color: rgba(var(--black-rgb),1);
}


.help_sub {
    width: max-content;
}


a.test {
color: #3f3ba6;
    line-height: .85;
    padding: 3px;
    margin: -2px;
    text-decoration: none;
    z-index: 1;
    transition: background-size .35s,background-position 0s;
    background: linear-gradient(to right,rgba(188,185,255,0.75),rgba(188,185,255,0.75)) no-repeat right;
    background-size: 0% auto;
}
a:hover.test {
    color: #211d5e;
    background-size: 100% auto;
    background-position: left;
    transition: background-size .35s,background-position 0s;
}


/*  */
/* --- mobile --- */

@media screen and (max-width: 1080px){
    .menu.is-active ul.menu-list {
        background-color: rgba(var(--white-rgb),1);
        /* backdrop-filter: blur(10px); */
    }
}

/* -- submenu -- */

@media screen and (max-width: 1080px) { /* 67.5em */
    
    /* .customize-support .sub_menu-dropdown, */
    #sub_menu-dropdown,
    .sub_menu-dropdown {
        width: 100%;
        height: calc(100vh - var(--header-height));
        background: var(--gray-200);
        position: absolute;
        top: var(--header-height);
        left: 0;
    }
    .sub_menu-dropdown-wrap {
        flex-direction: column !important;
        align-content: center !important;
        align-items: center !important;
    }
    .sub_menu-dropdown a {
        color: rgba(var(--black-rgb),0.7);
        padding: 1rem;
        background-color: var(--gray-300);
    }
}
