/* navigation */


:root {
    --header-height: 88px;
}

.no_scroll { overflow: hidden;}

.header {
    width: calc(100vw);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem;
    z-index: 9999;
    background-color:rgba(var(--theme-dark-rgb),1.0);
}

@media screen and (max-width: 30em) {
    .header {
        padding: 0 5%;
    }
}

/* add/remove class via JS onScroll event */
.hide {
    position: relative;
    top: var(--neg-header-height);       
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.logo { 
    /* float:left; */
    position: absolute;
    top: 10px;
    width:194px;
}
.logo_link {
    height:65px;
    width:194px;
    display:block;
}

header a svg.logo_svg path {
    fill:var(--theme-primary);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

header a:hover svg.logo_svg path {
    fill: rgba(var(--theme-primary-rgb),0.9);
}

@media screen and (max-width: 30em) {
    header a svg.logo_svg path {
        transform: scale(0.75);
        transform-origin: left center;
    }
}
@media screen and (max-width: 24em) {
    header a svg.logo_svg path {
        transform: scale(0.5);
        transform-origin: left center;
    }
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--theme-yellow);
    line-height: 2;
}
@media screen and (max-width: 30em) {
    .avatar {
        transform: scale(0.8);
    }
}

a:hover .avatar {
    background-color: white;
    color: var(--secondary);
}

.cart_link {
    /* position: absolute;
    top:0; */
}

.account i ,
.notice i,
.shopping i, 
.cart_sub_total {
    color: white;
}

a:hover .account i,
a:hover .shopping i {
    color: var(--secondary);
}
.account i,
.notice i,
.shopping i {
    font-size: 24px;
    margin: 0;
}


a .cart_sub_total, a .account_sub {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-size: var(--font-size-xs) !important;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 24em) {
    .account i,
    .notice i,
    .shopping i {
        font-size: 18px;
    }
}




header a {
    color: rgba(var(--menu-link-rgb),0.8);
}
header a:hover {
    color: rgba(var(--menu-link-rgb),1);
    /* text-decoration: underline; */
}

.has-sub::after {

}



/* -------------------------------------------- */

.nav_header_wrap {
    margin: auto;
    max-width: calc((1200px) - 3rem);
    width: calc((1200px) - 3rem);
}

@media screen and (max-width: 85em) {
        .nav_header_wrap {
        width: 100%;
    }
}

.menu-list {
    display: flex;
    margin: 0;
}

.secondary_menu-list {
    margin-left: 3rem;
}

body:not(.customize-support) .secondary_menu-list {
    display: none;
 }
.secondary_menu-list {
    display: flex;
}

@media  screen and (max-width: 1080px) {
    .secondary_menu-list {
        right: 12.5%;
    }
}

/* -------------------------------------------- */
/* toggle rotated */

.menu-list .menu-item {
    position: relative;
    margin: 0;
}
.menu-list .menu-item .menu-link.has-sub::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.545 30.00091'%3E%3Cpath d='M.735,29.275a2.49872,2.49872,0,0,1-.00628-3.53372L.735,25.735l10.73-10.73L.735,4.275A2.50316,2.50316,0,0,1,4.275.735l14.27,14.27L4.275,29.275A2.51081,2.51081,0,0,1,.735,29.275Z' transform='translate(0 -0.00409)' fill='%23fff'/%3E%3C/svg%3E");    /* background: url(../img/dinkus/chev_r.svg); */
    background-position: center right;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width:12px;
    height:12px;
    position: absolute;
    right:1rem;
    margin-top: 0.5rem;
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}


.menu-list .menu-item:hover .menu-link.has-sub::after,
.menu-list .menu-item .menu-link.has-sub:hover::after {
    transform: rotate(90deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

@media (max-width: 1080px){
    .menu-list .menu-item .menu-link.is-active::after {
        transform: rotate(90deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
}

/* -------------------------------------------- */
/*  */
/* 
.sub_menu-item .sub_menu-link::after {
    display: none;
}

.menu-item-sub a.menu-link {
    display: inherit;
    padding: 0 0 0 5%;
}

.menu-link span {
    display: inline-block;
}

.menu_dropdown .menu-link::after {
    content: "";
    background: none !important;
} */

/* --------------------------------------------
dropdown */


nav {
	/* margin: 50px 0; */
	/* background-color: #E64A19; */
}

nav ul {
	/* padding: 0;
    margin: 0; */
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
}
nav ul li:hover {
	/* background-color: rgba(var(--theme-black-rgb),0.2);  */
	/* background-color: red;  */
}

nav a {
	display:block;
	/* padding:0 10px;	 */
	color:#FFF;
	/* font-size:20px; */
	/* line-height: 60px; */
	text-decoration:none;
}

nav a:hover { 
	/* background-color: #000000;  */
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: var(--header-height); /* the height of the main nav */
    left:0;
}
@media (max-width: 1080px){ 
    nav ul ul {
        position: relative; 
        top: 0;
        display: block;
    }
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
	/* width:100%; */
	float:none;
	display:list-item;
	position: relative;
}
/* 
.sub_menu-dropdown { 
    background-color: var(--theme-dark);
    margin-top: 0;
}


.sub_menu-dropdown .sub_menu-item .sub_menu-link { 
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.25s;
} */

a.menu-link {
    font-size: 1rem;
    color: rgba(var(--menu-link-rgb),0.8);
    font-weight: 400;
}

a.menu-link:hover
/* , 
.sub_menu-item a.sub_menu-link:hover  */
{
    color: rgba(var(--menu-link-rgb),1.0);
}


/* 
a.sub_menu-link {
    width: 200px;
    padding: 0.5em;
} */

nav .menu-list li
/* , 
nav .menu-list li .sub_menu-dropdown,
nav .menu-list li .sub_menu-dropdown a */
 {
    margin-bottom: 0;
}

/* -------------------------------------------- */
/*  */


.menu {
    margin: 0 auto;
    height: var(--header-height);
    /* overflow: hidden; */
    max-width: 1255px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.menu > li {
    display: inline-block;
    margin: 0;
}
/* .sub_menu-dropdown li { 
    position: relative;
} */

.menu-item{
    display: inline-block;
    color: rgba(var(--menu-link-rgb),0.8);
}
/* .sub_menu-item {
    padding: 1rem;
} */

    /* @media only screen and (min-width: 1081px){
        .sub_menu-item {
            padding: 1rem;
        }
    } */

.menu-item {
    padding: 1rem 0 1rem;
    position: relative; 
}
.menu-item a {
    padding: 1rem;
    /* padding-bottom: 0.6rem; */
}
@media screen and (max-width: 48em) {
    .menu-item a {
        padding: 0.5rem;
    } 
}

.menu-item a.btn {
    padding: 1rem 2rem;
    border-radius: 60px; 
    position: relative; 
    display: inline;  
}
.menu-item a.has-sub {
    padding: 1rem 2rem 1rem 1rem ;
    
}
.has-avatar a {
    padding: 1rem;
}

.menu-link span, 
.menu-item a.has-sub {
    /* font-family: var(--font-link);    */
    color: rgba(var(--menu-link-rgb),0.8);
}
.menu-link:hover span, 
.menu-link:hover .menu-item a.has-sub {
    /* font-family: var(--font-link);    */
    color: rgba(var(--menu-link-rgb),1);
}

/* ********************************************* */
/* burger */
/* ********************************************* */


@media screen and (max-width: 1080px) {

    .menu {
        /* display: inline;
        float: right; */
        justify-content: flex-end;
    }

    .menu ul.menu-list {
        opacity: 0;
        height:0;
        display: none;
    }

    .menu.is-active ul.menu-list {
        opacity: 1;
        height:100vh;
        width: 100vw;
        display: block;
        position: absolute;
        background: black;
        right: 0;
        top: 0;
        z-index: -1;
        margin: 0;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .burger {
        display: inline-block;
        position:absolute;
        z-index:2;
        border: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: 4px solid var(--theme-red);
        width: 28px;
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out;
    }

    .burger::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .burger:before {
        content: "";
        display: block;
        border-bottom: 4px solid var(--theme-red);
        width: 100%;
        margin-bottom: 5px;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger:after {
        content: "";
        display: block;
        border-bottom: 4px solid var(--theme-red);
        width: 100%;
        margin-bottom: 5px;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-check {
        display: none;
    }

    .burger-check:checked ~ .burger {
        border-bottom: 4px solid transparent;
        transition: border-bottom 0.8s ease-in-out;
        -webkit-transition: border-bottom 0.8s ease-in-out;
    }

    .burger-check:checked ~ .burger:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-check:checked ~ .burger:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px);
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    
}

@media screen and (min-width: 1081px) {
    input.burger-check {
        display:none;
    }
}
