/* NEW navigation */



.mega_menu {
    
}

@media screen and (max-width: 1080px) {
    .mega_menu {
        /* display: none; */
    }
}

#mega_menu_section_3 {
    box-shadow: #CED4DA 0px 5px 15px;
}

/* -------------------------------- */
/* nav ul ul */
.sub_menu-dropdown::before {
    clear: both;
    float:left;
}

.sub_menu-dropdown {
    position: absolute;
    top: calc(var(--header-height));
    left: 50%;
    transform: translate(-50%,0);
    min-width: 100vw;
    width: 100%;
    visibility:hidden;
    opacity: 0;
    margin-left: 1rem;
}
:root {
    --sub-dd-height: 57px;
}

.is-visible,
.menu-item:hover + .sub_menu-dropdown,
.menu-item:hover .sub_menu-dropdown,
.has-sub:hover + .sub_menu-dropdown,
.menu-item:hover .sub_menu-dropdown .sub_menu-dropdown-wrap.is-tabbed
.has-sub:hover + .sub_menu-dropdown .sub_menu-dropdown-wrap.is-tabbed {
    /* display: block; */
    visibility:visible;
    opacity: 1;
}

.sub_menu-dropdown {
    background-color: var(--theme-light);
    margin-top: 0;
    
}

@media screen and (max-width: 75em) {
    .sub_menu-dropdown {
        /* left:unset; */
        margin: auto;
    }
}
@media screen and (max-width: 75em) {
    .sub_menu-dropdown {
        /* left: 18px; */
    }
}
/* -------------------------------- */
/* nav ul ul div */

.sub_menu-dropdown-wrap {
    width:100vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    /* gap: 2rem; */
    
}

@media screen and (max-width: 75em) {
    .sub_menu-dropdown-wrap {
        /* width:90vw; */
        max-width: 100%;
        left:unset;
    }
}



/* -------------------------------- */
/* nav ul ul li */

.sub_menu-item {
    padding: 0;
}

nav ul ul li:hover {
    /* background-color: rgba(var(--theme-black-rgb),0.2); */
    background-color: unset;
}
.sub_menu-dropdown-wrap .sub_menu-item {
    margin: 0;
}

.sub_menu-dropdown a{
    color: var(--theme-dark);
}

a.sub_menu-link * {
    /* -webkit-transition: all .125s ease-out;
    -moz-transition: all .125s ease-out;
    -o-transition: all .125s ease-out;
    transition: all .125s ease-out;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; */
}

/* -------------------------------- */
/* nav ul ul li a */

.sub_menu-item_wrapper { }


.sub_menu-item_heading {
    font-size: 1rem;
    color: rgba(var(--theme-dark-rgb),0.4);
    font-weight: 400;
}
.is-tabbed .sub_menu-item_heading {
    color: rgba(var(--theme-black-rgb),1.0);
}

.sub_menu-item a.sub_menu-link:hover .sub_menu-item_heading,
.sub_menu-item a.sub_menu-link .sub_menu-item_heading.is-tabbed {
    color: rgba(var(--theme-black-rgb),1.0);
    background: transparent;
    background-color: transparent;
}

.sub_menu-item_heading {
    /* margin-bottom: 0; */
}
/*  */


.sub_menu-item_row {
    position: absolute;
    /* display: none;
    visibility: hidden;
    opacity: 0; */
    top: calc(var(--header-height) + var(--sub-dd-height) );
    left:50%;
    float:left;
    width: 100vw;
    /* max-width: calc(1200px - 3rem); */
    margin: auto;
    color: var(--theme-dark);
    background-color: white;
    padding: 1rem;
    transform: translate(-50%, 0);
    z-index:-111;
}
:not(.is-rotated) + .sub_menu-item_row {
    display: none;
} 
.is-visible + .is-tabbed + .sub_menu-item_row {
    /* visibility: visible;
    display: block;
    opacity: 1; */
    /* z-index: 111; */
}
.sub_menu-item_row::before {
    clear: left;
    float: left;
}
@media screen and ( max-width: 1220px ){
    .sub_menu-item_row {
        /* max-width: calc(95vw - 3rem); */
    }
}


.sub_menu-item_row_wrap {
    width: 100vw;
    max-width: calc(1200px - 3rem);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: white;
}
.is-tabbed {
    /* visibility: visible;
    display: block;
    z-index: 111; */
}
@media screen and ( max-width: 1220px ){
    .sub_menu-item_row_wrap {
        max-width: calc(95vw - 3rem);
    }
}

.thumb_wrap {
}

.thumb_wrap,
.menu_desc_wrap {
    width:25%;
}
.menu_desc {
    text-align: left;
    margin-top: 0;
}

.menu_desc_wrap ul {
    display: block;
    position: relative;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
}
.menu_desc_wrap ul li {
    margin-top: 0;
    font-size: 12px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.menu_desc_wrap .button_wrap_left {
    margin-bottom: 0;
}
.menu_desc_wrap:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.185rem;
}

a.menu_desc_link {
    /* position: relative;
    display: block; */
    padding: 0;
}

a.menu_desc_link svg path {
    fill: #bdbdbd;
}
#prime7:hover svg path {
    fill: #D52B1E;
}

#prime7two:hover svg path {
    fill: #f2661a;
}

#prime7mate:hover svg path {
    fill: #0180ff;
}
#prime7flix:hover svg path {
    fill: #9100ce;
}

/* 
a[id*='prime7']:hover svg {
    opacity: 0.6;
}

a[id*='prime7']:hover svg path {
    fill: pink;
} */

#stations .menu_desc_wrap ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}