/* pop-ups / dialogues / warnings */
:root {
    --banner-height:40px
}

.has-banner {}

.header {
    margin-top: 0;
}
.has-banner .header {
    margin-top: var(--banner-height);
}

.production_date_banner {
    background-color: black;
    position:fixed;
    top: 0;
    left:0;
    z-index: 9999;
    width:100vw;
    height: var(--banner-height);
    padding: 10px 0;
}
@media (max-width:520px){
    .production_date_banner {
        padding: 1% 0;
    }
}

.production_date_banner_wrap {
    margin: auto;
    max-width: var(--mx-width);
    width: calc((1200px) - 3rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        max-width: unset;
        justify-content: center;
    }
}
@media screen and (max-width: 85em) {
/* @media screen and (max-width: 67.5em) { */
    .production_date_banner_wrap {        
        width: calc(100% - 4rem);
    }
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        width: 90vw;
    }
}
.banner_text, .next_date {
    display: inline;
    font-size: var(--font-size-sm);
}
@media (max-width:520px){
    .banner_text, .next_date {
        font-size: var(--font-size-xs);
    }  
}

.banner_text {
    color: var(--white);
}
.next_date {
    font-weight: 500;
    color: var(--secondary);
}


.close {
    color: white;
}

.close a {
    padding: 5px 5px;
}
@media (max-width:520px){
    .close a {
        padding: 3px 3px;
    }
}
.close a .fas {
    margin-left: 1rem;
    color: white;
}
@media (max-width:520px){
    .close a .fas {
        margin-left: 0.5rem;
    }
}
