/* pop-ups / dialogues / warnings */
:root {
    --banner-height:40px
}

.has-banner {}

.header {
    margin-top: 0;
}
.has-banner .header {
    margin-top: var(--banner-height);
}

/*  */

.has-modal {    
    height: 100vh;
    overflow-y: hidden;
}


.modal_bg, #modal_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.33);
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 0;
    z-index: 999;
}
.modal, #modal_content {
    background-color: white;
    max-width: unset;
    max-height: unset;
    max-width:calc(100% - 4rem);
    max-height:calc(100% - 4rem);
    text-align: center;
    z-index: 100;
    padding: 50px;
    /* margin-top: 20%;
    margin-left: 25%; */
    border-radius: 5px;
    position: absolute;
    margin: 0 !important;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal, #modal_content {
    /* overflow:auto; */
    max-height:calc(100vh - 4rem);
}


/* ross */
.modal_bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.33);
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 0;
    z-index: 99999;
}
/* ross */
.modal{
    background-color: white;
    max-width: unset !important;
    max-height: calc( 100vh - 4rem );
    text-align: center;
    z-index: 100;
    padding: 2rem !important;
    margin-top: 20%;
    margin-left: 25%;
}

@media screen and (max-width: 1080px){
    .modal {
        width: max-content;
        max-width: calc( 100% - 4rem ) !important;
        max-height: unset !important;
        padding: 2vw !important;
    }
}

#modal_content {}

#modal_content_form {}

#modal_bg .content_outer {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.modal .close_wrap {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -10px;
    right: -10px;
    /* background: white;
    border-radius: 20px; */
}
/* The Close Button */
.modal .close {
    
    border: none;
    text-align: center;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #494949;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    text-align: center;
    vertical-align: middle;
    background: white;
    padding: 7px 10px;
    border-radius: 20px;
    height: 28px;
}

  
  .close:hover,
  .close:focus {
    /* color: black;
    text-decoration: none;
    cursor: pointer; */
    transform:rotateZ(90)
  }

  
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 /* https://codepen.io/nzbin/pen/GGrXbp */
 /* <div class="dot-flashing"></div> */

 stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 2rem 0; */
    margin: 0;
    overflow: hidden;
  }

.stage_wrap {
    display: flex;
    justify-content: center;
    gap:2rem;
}
    @media (max-width: 1080px){ 
        .stage_wrap {
            display: flex;
            flex-direction: column;
            gap:1rem;
        }
    }
.stage_wrap.already_purchased_ad {
    flex-direction: column;
    gap:1rem;
}
.stage_wrap.already_purchased_ad p {
    text-align: left;
    max-width: 36ch;
}

.stage_wrap.already_purchased_ad [class*="button_wrap"] {
    margin: 0;
}

.stage_wrap p {
    text-align: center;
    max-width: 36ch;
    margin:auto;
    margin-bottom: 0.5rem;
} 
.stage_wrap p:nth-of-type(1) {
    margin-bottom: 1rem;
}
.stage_wrap p:nth-of-type(2) {
    margin-top: 2rem;
}
.stage_wrap div {
    text-align: left;
}
.stage_wrap label div {
    background: transparent;
    border:none !important;
}  
   
/* buy_options_outer  */

.stage_wrap .buy_options_outer{
    margin: 0 !important;
}

.stage_wrap .buy_options_outer p {
    /* max-width: unset; */
}
.stage_wrap .buy_options_outer > div {
    box-sizing: border-box;
    border: solid 0.5px transparent;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 1rem 1rem 1.25rem;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.stage_wrap .buy_options_outer > div:hover {
    border: solid 0.5px rgba(220,220,220,1);
    box-shadow: 0px 0px 8px 1px rgba(211,211,211,0.8);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(211,211,211,0.8);
    -moz-box-shadow: 0px 0px 8px 1px rgba(211,211,211,0.8);
}

.stage_wrap .buy_options_outer label {
    line-height: 1.1em;
    text-indent: -1.5rem;
    margin-left: 1.5rem;
}
@media (max-width: 480px){ 
    .stage_wrap .buy_options_outer label span {
        display: inline-block;
        margin-left: 1.5rem;
    }
}

.stage_wrap .buy_options_outer label div {
    padding: 0.5rem 0.75rem 0;
    /* margin: 0.5rem; */
}

/* --------------------------- */
/* loading */

 .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    margin: auto;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #9880ff;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }

/* -------------------------------------------- */

.stagetxt_wrap {
    /* margin-left: 1rem; */
    text-align: left;
    max-width: 35%;
}
.stagetxt_wrap p {
    text-align: left;
    max-width: 36ch;
}

.stagetxt_wrap h4 {
    margin-top: 0;
}

.stagetxt_wrap .button_wrap_left {
    margin-bottom: 0;
}

stage video {
    margin-top: 3rem;
    width: 100%    !important;
    min-width: 30vw;
    max-width: 600px;
    height: auto   !important;
    padding-right: 1rem;
}

@media (max-width: 1080px){ 
    stage video {
        margin-top: 3rem;
        max-width: unset;

    }
    .stagetxt_wrap {
        max-width: 90%;
        min-width: 80vw;
        margin: 0;
    }
}

.stage_wrap .video_wrap {
    margin-bottom: 0;
    min-width:50vw; 
    max-width:720px; 
    display:block; 
    padding:0 ;
}
@media (max-width: 1080px){ 
    .stage_wrap .video_wrap {
        max-width:unset;
        min-width: 84vw;
    }
}


/* -------------------------------------------- */
/*  */
.production_date_banner {
    background-color: black;
    position:fixed;
    top: 0;
    left:0;
    z-index: 9999;
    width:100vw;
    height: var(--banner-height);
    padding: 10px 0;
}
@media (max-width:520px){
    .production_date_banner {
        padding: 1% 0;
    }
}

.production_date_banner_wrap {
    margin: auto;
    max-width: var(--mx-width);
    width: calc((1200px) - 3rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        max-width: unset;
        justify-content: center;
    }
}
@media screen and (max-width: 85em) {
/* @media screen and (max-width: 67.5em) { */
    .production_date_banner_wrap {        
        width: calc(100% - 4rem);
    }
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        width: 90vw;
    }
}
.banner_text, .next_date {
    display: inline;
    font-size: var(--font-size-sm);
}
@media (max-width:520px){
    .banner_text, .next_date {
        font-size: var(--font-size-xs);
    }  
}

.banner_text {
    color: var(--white);
}
.next_date {
    font-weight: 500;
    color: var(--secondary);
}


.close {
    /* color: white; */
}

.close a {
    padding: 5px 5px;
}
@media (max-width:520px){
    .close a {
        padding: 3px 3px;
    }
}
.close a .fas {
    margin-left: 1rem;
    color: white;
}
@media (max-width:520px){
    .close a .fas {
        margin-left: 0.5rem;
    }
}


/*  */

.selected_region_notice {
    padding: 0 2rem;
}
@media screen and ( max-width: 1080px ) {
    .selected_region_notice {
        padding: 0 ;
    }
}

.selected_region_notice .warning {
    font-size: 14px;
}


/* ENQUIRY FORM */

.stage_wrap form {
    max-width: 320px;
}


.stage_wrap label {
    display: block;
    /* margin: 1em 0; */
    margin: 0.25rem 0.25rem 0 0;
    font-size: 1rem;
    max-width: 100%;
    cursor: pointer;
  }

  .stage_wrap label textarea, .stage_wrap label select, 
  .stage_wrap label input[type=text], .stage_wrap label input[type=email], 
  .stage_wrap label input[type=search], .stage_wrap label input[type=tel], 
  .stage_wrap label input[type=url], .stage_wrap label input[type=password], 
  .stage_wrap label input[type=color], .stage_wrap label input[type=file], 
  .stage_wrap label input[type=color], .stage_wrap label input[type=number], 
  .stage_wrap label input[type=range], .stage_wrap label input[type=date], 
  .stage_wrap label input[type=month], .stage_wrap label input[type=week], 
  .stage_wrap label input[type=time], .stage_wrap label input[type=datetime], 
  .stage_wrap label input[type=datetime-local],
  .stage_wrap label input:not([type=radio]),
  .stage_wrap label input:not([type=checkbox]) {
    display: block;
    width: 100%;
    font-size: 1rem;
  }

  .stage_wrap input[type=submit] {
      
  }


  .stage_wrap label input[type=checkbox] {
    vertical-align: bottom;
    position: relative;
    top: 0;
  }

  .stage_wrap label div {
    display: block;
    margin-left: 1rem;
    font-size: 0.8rem;
  }



/* ASSETS LIST */
.final_assets_list {

}

.final_assets_list  p {
    text-align: left;
    font-size: 0.75rem; /* 12px */
}
.final_assets_list  p strong {
    font-weight: 600;
}

/* colour picker */

@media screen and ( max-width: 380px ) {

    #color_picker {
        left: calc(50% - (265px / 2)) !important;
    }

}


/* buttons */

.stage_wrap p input[type="submit"] {
    margin-top: 1rem;
}