/* pop-ups / dialogues / warnings */
:root {
    --banner-height:40px
}

.has-banner {}

.header {
    margin-top: 0;
}
.has-banner .header {
    margin-top: var(--banner-height);
}

/*  */

.modal_bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.33);
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 0;
    z-index: 999;
}

.modal {
    background-color: white;
    max-width: 50%;
    max-height: 200px;
    text-align: center;
    z-index: 100;
    padding: 50px;
    /* margin-top: 20%;
    margin-left: 25%; */
    border-radius: 5px;
    position: absolute;
    margin: 0 !important;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 400px){
    .modal {
        max-width: unset;
    }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */

 /* <div class="dot-flashing"></div> */

 stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 2rem 0; */
    margin: 0 -5%;
    overflow: hidden;
  }

 .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    margin: auto;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #9880ff;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }
  

/*  */
.production_date_banner {
    background-color: black;
    position:fixed;
    top: 0;
    left:0;
    z-index: 9999;
    width:100vw;
    height: var(--banner-height);
    padding: 10px 0;
}
@media (max-width:520px){
    .production_date_banner {
        padding: 1% 0;
    }
}

.production_date_banner_wrap {
    margin: auto;
    max-width: var(--mx-width);
    width: calc((1200px) - 3rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        max-width: unset;
        justify-content: center;
    }
}
@media screen and (max-width: 85em) {
/* @media screen and (max-width: 67.5em) { */
    .production_date_banner_wrap {        
        width: calc(100% - 4rem);
    }
}
@media (max-width:520px){
    .production_date_banner_wrap {        
        width: 90vw;
    }
}
.banner_text, .next_date {
    display: inline;
    font-size: var(--font-size-sm);
}
@media (max-width:520px){
    .banner_text, .next_date {
        font-size: var(--font-size-xs);
    }  
}

.banner_text {
    color: var(--white);
}
.next_date {
    font-weight: 500;
    color: var(--secondary);
}


.close {
    color: white;
}

.close a {
    padding: 5px 5px;
}
@media (max-width:520px){
    .close a {
        padding: 3px 3px;
    }
}
.close a .fas {
    margin-left: 1rem;
    color: white;
}
@media (max-width:520px){
    .close a .fas {
        margin-left: 0.5rem;
    }
}
