/* primehub.css */

/* ------------------------- */
/* hero images */


.education .hero {
    background-image: url(../img/education_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.1);
    background-position: top center;
}
.primehub .hero {
    background-image: url(../img/primehub_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.1);
    background-position: top center;
}
.meet_the_markets .hero {
    background-image: url(../img/meet_the_markets_hero_bg.jpg);
    background-color: rgba(var(--darkred-rgb),0.5);
    background-position: center center;
}
.meet_the_network .hero {
    background-image: url(../img/meet_the_network_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
    background-position: top center;
}
.meet_the_stations .hero {
    background-image: url(../img/meet_the_stations_hero_bg.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
    background-position: top center;
}
.single_title .hero {
    background-image: url(https://i.vimeocdn.com/video/1341266929-217a5d7988bdc5b39d9fcbe33fc84376a537cbb58381de1cff75868d3027636b-d.jpeg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
    background-position: top center;
}

.single_title.bendigo .hero {
    background-image: url(https://i.vimeocdn.com/video/1341266929-217a5d7988bdc5b39d9fcbe33fc84376a537cbb58381de1cff75868d3027636b-d.jpeg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
    background-position: top center;
}

.example_tvc .hero {
    background-image: url(../img/customised_package.jpg);
    background-color: rgba(var(--theme-dark-rgb),0.5);
    background-position: top center;
}


/* ------------------------- */
/* hero sections */


.education .hero,
.primehub .hero {
    height: 80vh !important;
}
.meet_the_markets .hero,
.meet_the_network .hero,
.meet_the_stations .hero,
.meet_the_markets.albury_wodonga .hero,
.meet_the_markets.shepparton .hero,
.meet_the_markets.bendigo .hero,
.meet_the_markets.ballarat_western_victoria .hero,
.meet_the_markets.gippsland .hero,
.meet_the_markets.mildura .hero,
.meet_the_markets.tamworth .hero,
.meet_the_markets.mid_north_coast .hero,
.meet_the_markets.wollongong_far_south_coast .hero,
.meet_the_markets.newcastle .hero,
.meet_the_markets.central_coast .hero,
.meet_the_markets.canberra .hero,
.meet_the_markets.wagga_wagga .hero,
.meet_the_markets.orange_dubbo .hero,
.meet_the_markets.gold_coast .hero,
.meet_the_markets.coffs_harbour .hero,
.meet_the_markets.ballina_byron .hero,
.single_title .hero,
.example_tvc .hero
{
    height: 60vh !important;
}
@media screen and (max-width: 1080px){

    .hero {
        height: 60vh !important;
        min-height: 60vh !important;
        padding-top: 0 !important;
    }

}

/* ------------------------- */

.meet_the_markets .select_group:first-of-type {
    min-width: 154px;
}
.meet_the_markets .select_group:nth-of-type(2) {
    min-width: 166px;
}
/* ------------------------- */

#primehub .column_wrap {
    padding: 2.5% 0;
}

#primehub .text_block, #example_tvc .text_block {
    margin-top: 2rem;
    text-align: left;
}
#primehub ._wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /* gap: calc(var(--gutter) * .5); */
}

#primehub ._wrap .panel {
    padding: 0;
    justify-content: flex-start;
}

#primehub ._wrap [class*="text_block"], 
#primehub .text_wrap  {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#primehub h5 {
    margin-bottom: 0.5rem;
}

#primehub section:not(.introduction) .column_third {
    /* width: calc(100% * 1/3); */
    /* width: calc(var(--col-width) * var(--columns) - 5.3333rem); */
}
/* #primehub .introduction .column_50 {
    max-width: calc((1200px * var(--columns)/10) - (2rem * 1/2)  );
    width: calc(var(--col-width) * var(--columns));
} */

/* #primehub .introduction .column_third {
    max-width: calc((1200px * var(--columns)/10) - (2rem * 2/3)  );
    width: calc(var(--col-width) * var(--columns));
} */

#primehub section:not(.introduction) .column_third {
    max-width: calc((1200px * 3/10)  - (2rem * 2/3)  );
    width: calc(10/3);
}

@media screen and (max-width: 1080px){
    #primehub section:not(.introduction) .column_third {
        max-width: calc((90vw * 1/2)  - (2rem * 1/2)  );
        width: calc(var(--col-width) * var(--columns));
        margin: 0;
    }    
}

@media screen and (max-width: 880px){
    #primehub section:not(.introduction) .column_third {
        max-width: 90vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ------------------------- */
/* map */

#primehub .markets_map,
#primehub .markets_map .column_wrap,
#primehub .markets_map .column_100,
#primehub .markets_map .column_row { 
    /* width: 100vw;  */
    width: 100%; 
    max-width: unset;
}


#primehub #map{ 
    height: calc(100vh - (var(--header-height)));
}
#primehub.has-banner #map  {
    height: calc(100vh - (var(--header-height) + var(--banner-height)));
}

#primehub #map button:last-of-type {
    /* display: none; */
}

.fixed .leaflet-top {
    position: fixed;
    top: calc(90px + var(--banner-height));
}

.video_wrap {
    margin-bottom: 0rem;
}
#meet-the-network .introduction .video_wrap,
#station .introduction .video_wrap,
#market .video_wrap,  #example_tvc .video_wrap {
    margin-bottom: 2rem;
}

/* temporary fix */
.meet-the-adbuilder .column_50:nth-of-type(2) {
    /* display: none !important; */
}