/* sign in & registration pages */

@media screen and ( max-width: 1080px ){
    #signin #adbuilder_form .hero section.section,
    #signup #adbuilder_form .hero section.section {
        padding-top: 2rem; 
    }
    #signin .column_wrap [class*="column_"],
    #signup .column_wrap [class*="column_"] {
        margin-bottom: 2rem;
    }

}


#signup .button_wrap_left,
#signin .button_wrap_left  {
    display: none;
}

@media screen and ( max-width: 1080px ){
    #signup .button_wrap_left,
    #signin .button_wrap_left  {
        display: flex;
    }
}