/* sign in & registration pages */

@media screen and ( max-width: 1080px ){
    #signin #adbuilder_form .hero .section,
    #signup #adbuilder_form .hero .section {
        padding-top: 3rem;
    }
}


#signup .button_wrap_left,
#signin .button_wrap_left  {
    display: none;
}

@media screen and ( max-width: 1080px ){
    #signup .button_wrap_left,
    #signin .button_wrap_left  {
        display: flex;
    }
}