/* structure.css */

:root {
    --column-width: 100% ;
    --col-mx-width: 80vw;
}

@media (min-width:48em){
    :root {
        --column-width: calc((100% / var(--columns)) - var(--gutter));
        --col-mx-width: calc((1200px / 2) - 6rem);
    }
}
@media (min-width:75em){
    :root {
        --column-width: calc((100% / var(--columns)) - var(--gutter));
        --col-mx-width: calc((100vw / 2) - 8rem);
    }
}

body { background: var(--theme-light); }

main {
    /* padding-top: var(--header-height); */
}

.section {
    
    overflow: hidden;
}
.section:first-of-type {
    /* padding-top: var(--header-height); */
}
@media (min-width:48em) and (max-width:52em){
    .section {
        /* padding: 5%; */
    }
}
@media screen and ( max-width: 1080px ){
    .section {
        position: relative;
    }
}

.column_wrap {
    position: relative;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
@media (max-width:48em){
    .column_wrap {
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }
}

.column_50 {
    display: inline;
    max-width: var(--col-mx-width);
    width: 600px;
}
@media screen and ( max-width: 1080px ){
    .column_50 {
        max-width: 90vw;
        width: 100%;
    }
}

.panel_wrap, .text_wrap {
    margin: auto 2rem;
}
@media screen and ( max-width: 1080px ){
    .panel_wrap, .text_wrap {
        margin: auto 0;
    }
}

.panel {
    background: #fff;
    color: var(--theme-dark);
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
    padding: 2em;
    /* clamp(1.37rem,1.21rem + .8vw,1.78rem) clamp(.88rem,.83rem + .24vw,1rem) clamp(1.09rem,1rem + .47vw,1.33rem); */
    position: relative;
    overflow: hidden;
}

.panel_wrap {
    margin-top: calc( (2.414rem * 1.2) + (0.94em * 2) + 0.4em);
    /* (h5 size * line-height) + margin-top & -bottom + h2 margin-top */
}



/* ----------------------------- TEST ----------------------------- */
/**
* WRAPPER
* Sets a max width, adds a consistent gutter and horizontally
* centers the contents
*/
.body_wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}
/* ----------------------------- end TEST ----------------------------- */

/* 
.col_01  {
    --col-num: 1;
    width: calc(var(--column-width) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 )));
} */

/* .col_04  {
    --col-num: 4;
    width: calc((1200 / 12) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 ) - 4rem));
} */
