/* structure.css */

:root {
    --column-width: 100% ;
    --col-mx-width: 80vw;
    --col-width: calc((100vw / 10));
    --gutter: 2rem;
}

@media (min-width:48em){
    :root {
        --column-width: calc((100% / var(--columns)) - var(--gutter));
        --col-mx-width: calc((1200px / 2) - 6rem);
    }
}
@media (min-width:75em){
    :root {
        --column-width: calc((100% / var(--columns)) - var(--gutter));
        --col-mx-width: calc((100vw / 2) - 8rem);
    }
}

body { background: var(--theme-light); }

#adbuilder_form main, 
#media main, 
#map_test main,
#media-time main {
    padding-top: var(--header-height);
}

.section {    
    overflow: hidden;
}
.section:first-of-type {
    /* padding-top: var(--header-height); */
}
@media (min-width:48em) and (max-width:52em){
    .section {
        /* padding: 5%; */
    }
}
@media screen and ( max-width: 1080px ){
    .section {
        position: relative;
    }
}

.column_wrap {
    position: relative;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
@media (max-width:48em){
    .column_wrap {
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }
}
[class*="column_"]:not(.column_wrap) {
    max-width: calc((1200px * var(--columns)/10) - 3rem );
    width: calc(var(--col-width) * var(--columns));
    height:auto;
    position: relative;
}
.column_100 { --columns: 10; }
.column_90 { --columns: 9; }
.column_80 { --columns: 8; }
.column_70 { --columns: 7; }
.column_twothird { --columns: calc(10/6); }
.column_60 { --columns: 6; }
.column_50 { --columns: 5; }
.column_40 { --columns: 4; }
.column_third { --columns: calc(10/3); }
.column_30 { --columns: 3; }
.column_20 { --columns: 2; }
.column_10 { --columns: 1; }


@media screen and ( max-width: 1080px ){
    [class*="column_"]:not(.column_wrap), .column_50, .column_60, .column_40 {
        max-width: 90vw;
        width: 100%;
    }
}
.block {
    display: block;
}
.float-right {
    float: right;
    clear: both;
}
.inline {
    display: inline-block;
    margin-right: var(--gutter);
    margin-bottom: var(--gutter);
}
.visible {
    visibility: hidden;
    opacity:0;
    transition: all 0.25s ease-in-out;
}
.hidden {
    visibility: visible;
    opacity:1;
}
.fas {
    margin-right: 1em;
    display: inline-block;
}

.panel_wrap, .text_wrap {
    margin: auto 2rem;
}
.hero .panel_wrap, .hero .text_wrap {
    margin: auto 0;
}

@media screen and ( max-width: 1080px ){
    .panel_wrap, .text_wrap {
        /* margin: auto 0; */
    }
}

.panel {
    background: #fff;
    color: var(--theme-dark);
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
    padding: 2em;
    /* clamp(1.37rem,1.21rem + .8vw,1.78rem) clamp(.88rem,.83rem + .24vw,1rem) clamp(1.09rem,1rem + .47vw,1.33rem); */
    position: relative;
    /* overflow: hidden; */
}

.panel_wrap, .warning_wrap {
    margin-top: calc( (2.414rem * 1.2) + (0.94em * 2) + 0.4em);
    /* (h5 size * line-height) + margin-top & -bottom + h2 margin-top */
}



/* ----------------------------- TEST ----------------------------- */
/**
* WRAPPER
* Sets a max width, adds a consistent gutter and horizontally
* centers the contents
*/
.body_wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}
/* ----------------------------- end TEST ----------------------------- */

/* 
.col_01  {
    --col-num: 1;
    width: calc(var(--column-width) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 )));
} */

/* .col_04  {
    --col-num: 4;
    width: calc((1200 / 12) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 ) - 4rem));
} */
