/* structure.css */

:root {
    --column-width: 100% ;
    --col-mx-width: 80vw;
    /* --mx-width: 90vw; */
    --mx-width: calc(100% - 3rem);
    --col-width: calc((100vw / 10));
    --gutter: 2rem;
    --margin: 2rem;
    --screen-width-mx: 67.5em; /* 1080px */
    --screen-width-mob: 48em; /* 768px */
    --subtotal-height:110px;
    --footer-height:380px;
}

@media (min-width:1080px){
        :root {
        --column-width: calc((100% / var(--columns)) - var(--gutter));
        --col-mx-width: calc((1200px * var(--columns)/10) - 3rem );
    }
}
@media (min-width:75em){
    :root {
        --mx-width: calc(1200px - 3rem);
    }
}



body { background: var(--theme-light); }

#adbuilder_form main,
.adbuilder main, 
#media main, 
#map_test main,
#media-time main,
#checkout main,
#cart main,
#terms main,
#new_home main, 
#privacy main {
    padding-top: var(--header-height);
}

#adbuilder_form.has-banner main,
.adbuilder.has-banner main, 
#media.has-banner main, 
#map_test.has-banner main,
#media-time.has-banner main,
#checkout.has-banner main,
#cart.has-banner main,
#terms.has-banner main,
#new_home.has-banner main,
#privacy.has-banner main {
    padding-top: calc(var(--header-height) + var(--banner-height));
}

.section {    
    overflow: hidden;
}
#adbuilder_form .section:first-of-type .column_wrap {
    padding-top: 0;
}
#adbuilder_form .section:first-of-type {
    min-height: 100vh;
}

/* needs a different class */
#adbuilder_form .hero .section:first-of-type {
    min-height: unset;
}

.adbuilder section {
    min-height: calc(100vh - var(--header-height) - var(--subtotal-height));
}
.adbuilder section .column_wrap section{
    min-height: unset;
}

@media (min-width:48em) and (max-width:52em){
    .section {
        /* padding: 5%; */
    }
}
@media screen and ( max-width: 1080px ){
    .section {
        position: relative;
    }
}

.column_wrap, .column_row {
    position: relative;
    display: flex;
    gap: 3rem;
}
.column_wrap {
    justify-content: center;
}
.column_row {
    justify-content: flex-start;
}
.column_wrap {
    padding: 5% 0;
}
.column_row {
    padding-top: 0;
    padding-bottom: 5%;
}
.column_row:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width:1080px){
    .column_wrap,
    .column_row {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

.column_group {
    /* max-width: 1200px !important; */
    padding: 0 2rem;
}
@media screen and ( max-width: 1080px ){
    .column_group {
        padding: 0;
    }
}

[class*="_group"]:not(.asset_group)  {
    display: flex;
    max-width: calc((1200px * var(--columns)/10) - 3rem );
    width:unset;
}

@media screen and ( max-width: 1080px ){
    [class*="_group"]:not(.asset_group) {
        flex-direction: column;
    }
}  

.column_100 { --columns: 10; }
.column_90 { --columns: 9; }
.column_80 { --columns: 8; }
.column_70 { --columns: 7; }
.column_twothird { --columns: calc(10/6); }
.column_60 { --columns: 6; }
.column_50 { --columns: 5; }
.column_40 { --columns: 4; }
.column_third { --columns: calc(10/3); }
.column_30 { --columns: 3; }
.column_20 { --columns: 2; }
.column_10 { --columns: 1; }


@media screen and ( max-width: 67.5em ){
    .column_third { 
        /* --columns: calc(10/2);  */
        --columns: 4; 
    }
    .easy .column_group {
        flex-direction: row !important;
        /* flex-wrap: wrap; */
        gap:2rem;
    }
}

@media screen 
and ( min-width: 1081px ) 
and ( max-width: 1232px ) {
    .forms.wrapper .column_wrap {
        max-width: calc(100vw  - 3rem );
        margin-left: auto;
        margin-right: auto;
    }
}



/* [class*="column_"]:not(.optimised .column_third), */
[class*="column_"]:not(.column_wrap),
[class*="column_"]:not(.column_row),
[class*="column_"]:not(.column_group) {
    max-width: calc((1200px * var(--columns)/10) - 3rem );
    width: calc(var(--col-width) * var(--columns));
    height:auto;
    position: relative;
}


@media screen and ( max-width: 1080px ){
    [class*="column_"]:not(.column_wrap),
    [class*="column_"]:not(.column_row),
    [class*="column_"]:not(.column_group),
    /* [class*="column_"]:not(.column_third), */
    .column_third, .column_twothird,
    .column_90, .column_80, .column_70,
    .column_70, .column_50, .column_40,
    .column_30, .column_20, .column_10 {
        max-width: 90vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and ( max-width: 48em ){
    .easy .column_third { 
        max-width: 90vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
     }
     .easy .column_group{
        flex-direction: column !important;
        gap:2rem;
    }
}

[class*="_stretch"] {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.panel_wrap, .text_wrap {
    margin: auto 2rem;
}
@media screen and ( max-width: 1080px ){
    .panel_wrap, .text_wrap {
        margin: auto;
    }
}
.hero .panel_wrap, .hero .text_wrap {
    margin: auto 0;
}

@media screen and ( max-width: 1080px ){
    .panel_wrap, .text_wrap {
        /* margin: auto 0; */
    }
}

.panel {
    background: #fff;
    color: var(--theme-dark);
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
    padding: 2em;
    position: relative;
    /*  */
    /* height required for "stretch" */
    min-height: 0;

}
.panel[class*="_bg"] {
    background: transparent;
    box-shadow: 0 0 1rem rgb(255 255 255 / 15%);
}


.responsive_padding {
    padding: clamp(1.37rem,1.21rem + .8vw,1.78rem) 
             clamp(.88rem,.83rem + .24vw,1rem) 
             clamp(1.09rem,1rem + .47vw,1.33rem);
}


.panel_alt {
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
    padding: 2em;
    position: relative;
}


.panel_wrap, .warning_wrap {
    margin-top: calc( (2.414rem * 1.2) + (0.94em * 2) + 0.4em);
    /* (h5 size * line-height) + margin-top & -bottom + h2 margin-top */
}
@media screen and ( max-width: 1080px ){
    .panel_wrap, .warning_wrap {
        margin-top: 0;
    }
}
  


/* ----------------------------- TEST ----------------------------- */
/**
* WRAPPER
* Sets a max width, adds a consistent gutter and horizontally
* centers the contents
*/
.body_wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}
/* ----------------------------- end TEST ----------------------------- */

/* 
.col_01  {
    --col-num: 1;
    width: calc(var(--column-width) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 )));
} */

/* .col_04  {
    --col-num: 4;
    width: calc((1200 / 12) * var(--col-num) + (var(--gutter) * (var(--col-num) - 1 ) - 4rem));
} */


/* OTHER */

.block {
    display: block;
}
[class*="_block"] {

}

.float-right {
    float: right;
    clear: both;
}
.inline {
    display: inline-block;
    margin-right: var(--gutter);
    margin-bottom: var(--gutter);
}
.inline:last-of-type {
    margin-right: 0;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.space_between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.visible, .logged-out {
    visibility: visible;
    opacity:1;
    display: block;
    transition: all 0.25s ease-in-out;
}
.hidden, .logged-in {
    visibility: hidden;
    opacity:0;
    display: none !important;
    transition: all 0.25s ease-in-out;
}
/* .logged-out {
    visibility: hidden;
    opacity:0;
    display: none;
    transition: all 0.25s ease-in-out;
} */
.fas {
    margin-right: 1em;
    display: inline-block;
}
.unfixed {
    position: relative !important;
    background-color: red;
    transition: all 0.25s ease-in-out;
    /* possible solution? */
    scroll-snap-align: start;
    /* https://firefox-source-docs.mozilla.org/performance/scroll-linked_effects.html */
}