/* typography */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css');

:root {
    --base-font-family: 'Montserrat',Arial,sans-serif;
    --base-line-height: 1.6;
    --base-font-percent: 62.5%;
    --base-font-size: 14px;
    --thin-font-weight: 300;
    --base-font-weight: 400;
    --large-font-weight: 500;
    --link-font-weight: 600;
    --font-size-base: 1rem;
    --font-size-xs: 0.6rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;
    --font-size-jumbo: 7.2rem;
    --font-size-jumbo-sm: 4.2rem;
}

body {
	font-family: var(--base-font-family);
  font-size: 14px;
  font-size: var(--base-font-size);
  font-weight: 400;
  font-weight: var(--base-font-weight);
  line-height: 1.6;
  line-height: var(--base-line-height);
	font-style: normal;
  color: var(--theme-dark);

}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
	font-family: var(--base-font-family);
}

html {font-size: 100%;} /*14px*/

body, p {
    font-family: var(--base-font-family);
    font-size: 14px;
    font-size: var(--base-font-size);
    line-height: 1.6;
    line-height: var(--base-line-height); 
    font-weight: 400;
 }
 
 h1, h2, h3, h4, h5, strong {
     font-weight: 700;
 }
 
 /* ----------------------------- */
 /* LINKS */

 a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
a * {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
:not(.button) a:visited {
    color: var(--not-black);
}

a:focus {
    outline: none;
}

.text_wrap a, .skip_this_step {
  font-weight: var(--link-font-weight);
}
.text_wrap a:hover, .skip_this_step:hover {
  text-decoration: underline;
}

/* ----------------------------- */


input:focus, textarea:focus, button:focus,
.form input:focus, 
.form textarea:focus, 
.form button:focus {
    outline: 2px solid var(--gray-200);
}

/* ----------------------------- */

i {
    font-family: 'FontAwesome';
}

 h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    letter-spacing: -0.025em;
}


.subheading {
    font-weight: 400;
}


h4 {font-size: 1.999rem;}
h5 {font-size: 1.414rem;}
h5.pre-title {
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: 600;
    text-indent: -0.6rem;
    margin-left: 0.8rem;
}

h6 {font-size: 1.1rem;}



h1 {
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	line-height: 1.05;
}

h2 {
	margin-top: 0.8em !important;
	margin-bottom: 0.8em;
}
.panel h2, .panel_alt h2 {
    margin-top: 0 !important;
}

h2 sup {
  font-weight: 300;
  font-size: 1.25rem;
}

h3 {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	margin-top: 1em;
	margin-bottom: 1em;
}

[class*="panel"] h1,
[class*="panel"] h2,
[class*="panel"] h3,
[class*="panel"] h4,
[class*="panel"] h5,
[class*="panel"] h6 {
    margin-top: 0;
}

/* ----------------------------- */
/* variations */

.large { font-size: 16px; font-weight: var(--large-font-weight);}
.small { font-size: 12px; }
.micro { font-size: 10px; line-height: 150%; }


._thin { font-weight: var(--thin-font-weight);}

small, .text_small {font-size: 0.707rem;}

.x-small { 
  font-size: 0.6rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

p, .normal {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-size: 14px;
  font-size: var(--base-font-size);
	font-weight: 400;
	font-style: normal;
}


/* ----------------------------- */
/*  */

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}


ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

  
ol.tc_counter {
    list-style: none;
  /*   counter-reset: tc-counter 8; */
    max-width: 75ch;
  }
  ol.tc_counter li {
    counter-increment: tc-counter;
    padding: 0 0 0 1em;
    text-indent:4rem;
  /*     margin-left: 0.5rem;  */
  }
  ol.tc_counter li::marker { 
    content: "1.";
    font-weight: bold;
  }
  ol.tc_counter:nth-of-type(2) li::marker { 
    content: "2.";
  }
  ol.tc_counter:nth-of-type(3) li::marker { 
    content: "3.";
  }
  ol.tc_counter:nth-of-type(4) li::marker { 
    content: "4.";
  }
  ol.tc_counter:nth-of-type(5) li::marker { 
    content: "5.";
  }
  ol.tc_counter:nth-of-type(6) li::marker { 
    content: "6.";
  }
  ol.tc_counter:nth-of-type(7) li::marker { 
    content: "7.";
  }
  ol.tc_counter:nth-of-type(8) li::marker { 
    content: "8.";
  }
  ol.tc_counter:nth-of-type(9) li::marker { 
    content: "9.";
  }
  ol.tc_counter:nth-of-type(10) li::marker { 
    content: "10.";
  }
  ol.tc_counter:nth-of-type(11) li::marker { 
    content: "11.";
  }
  ol.tc_counter:nth-of-type(12) li::marker { 
    content: "12.";
  }
  ol.tc_counter li::before {
    content: counter(tc-counter) "  ";
    font-weight: bold;
    margin-left: -5rem;
  }
  

/*  */

/* other */


/* Set the width and height to be 1em, which
   will be the font-size of its parent element */

    .icon {
        width: 1em;
        height: 1em;
    }

  /* 
  
  <svg class="[ icon ] [ fancy-link__icon ]" >
  
  */



/* ----------------------------- TEST ----------------------------- */
/* optional */
/* limit your line-lengths to increase readability */
article {
    /* max-width: 60ch; */
}

/* use clamp for fluid type (** for headings only? **) */
/* https://piccalil.li/tutorial/fluid-typography-with-css-clamp/ */

/* 

--fluid-type-min === the smallest we will allow our text to go
--fluid-type-target === our ideal, fluid setting. 
--fluid-type-max === the largest we will allow our text to go 

*/


h1, .huge {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 4.5rem; /* 80px */
    --fluid-type-target: 4.5vw;
    /* 
    By increasing the viewport unit, we speed up the rate of growth, 
    which will help to maintain its extra large size. 
    To reduce the rate of growth and have less difference 
    between your minimum and maximum sizes: reduce the size of --fluid-type-target. 
    */
    max-width: 15ch;
}

@media screen 
    and ( min-width: 1080px ) 
    and ( max-width: 1400px )
    and ( max-height: 700px )
    {
    h1 {
        --fluid-type-min: 2.5rem;
        --fluid-type-max: 3.5rem; /* 80px */
        --fluid-type-target: 3.5vw;
    }
}
  
h2 {
    --fluid-type-min: 1.8rem;
    --fluid-type-max: 2.5rem;
}

h3 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2rem;
}

h4 {
    --fluid-type-min: 1.2rem;
    --fluid-type-max: 1.5rem;
}

h2,
h3 {
    max-width: 30ch;
}

p {
    max-width: 60ch;
}

@media screen and ( max-width: 1080px ) {
  p {
    max-width: unset;
  }
}

/* 
clamp(minimum, preferred, maximum); 
*/

/* 
font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
); 
*/



h1, :not(#checkout) h1,
h2, :not(#checkout) h2,
h3, :not(#checkout) h3,
h4, :not(#checkout) h3 {
    /* font-size: clamp(2.67rem,2.07rem + 3vw,4.21rem); */
    font-size: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)), var(--fluid-type-max, 1.3rem));
    max-width: 22ch;
}

h2 {
    font-size: clamp(2.14rem,1.74rem + 1.99vw,3.16rem);
    max-width: 30ch;
}

.huge{
  font-size: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)), var(--fluid-type-max, 1.3rem));
  max-width: 22ch;
  margin-bottom: 0;
}

/* ----------------------------- end TEST ----------------------------- */
