/* typography */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css');

:root {
    --base-font-family: 'Montserrat',Arial,sans-serif;
    --base-line-height: 1.6;
    --base-font-percent: 62.5%;
    --base-font-size: 14px;
    --base-font-weight: 400;
    --font-size-base: 1rem;
    --font-size-xs: 0.6rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;
    --font-size-jumbo: 7.2rem;
    --font-size-jumbo-sm: 4.2rem;
}

body {
	color: var(--theme-dark);
	font-family: var(--base-font-family);
    font-size: 14px;
    font-size: var(--base-font-size);
    font-weight: 400;
    font-weight: var(--base-font-weight);
    line-height: 1.6;
    line-height: var(--base-line-height);
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
	font-family: 'Montserrat';
}

html {font-size: 100%;} /*14px*/

body, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-size: var(--base-font-size);
    line-height: 1.6;
    line-height: var(--base-line-height); 
	font-weight: 400;
 }
 
 h1, h2, h3, h4, h5, strong {
     font-weight: 700;
 }
 
 a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

i {
    font-family: 'FontAwesome';
}

 h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    letter-spacing: -0.025em;
}

._thin { font-weight: 300;}
.huge{
    font-size: 69px;
    line-height: 100%;
}

.subheading {
    font-weight: 400;
}


h4 {font-size: 1.999rem;}
h5 {font-size: 1.414rem;}
h5.pre-title {
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: 600;
}

h6 {font-size: 1.0rem;}

small, .text_small {font-size: 0.707rem;}


h1 {
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	line-height: 1.05;
}

h2 {
	margin-top: 0.4em !important;
	margin-bottom: 0.4em;
}
.panel h2, .panel_alt h2 {
    margin-top: 0 !important;
}

h3 {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	margin-top: 1em;
	margin-bottom: 1em;
}

[class*="panel"] h1,
[class*="panel"] h2,
[class*="panel"] h3,
[class*="panel"] h4,
[class*="panel"] h5,
[class*="panel"] h6 {
    margin-top: 0;
}

.large { font-size: 16px; }
.small { font-size: 12px; }
.micro { font-size: 10px; line-height: 150%; }


p, .normal {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-family: 'Montserrat';
	font-size: 14px;
    font-size: var(--base-font-size);
	font-weight: 400;
	font-style: normal;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}


ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


/* other */


/* Set the width and height to be 1em, which
   will be the font-size of its parent element */

    .icon {
        width: 1em;
        height: 1em;
    }

  /* 
  
  <svg class="[ icon ] [ fancy-link__icon ]" >
  
  */



/* ----------------------------- TEST ----------------------------- */
/* optional */
/* limit your line-lengths to increase readability */
article {
    /* max-width: 60ch; */
}

/* use clamp for fluid type (** for headings only? **) */
/* https://piccalil.li/tutorial/fluid-typography-with-css-clamp/ */

/* 

--fluid-type-min === the smallest we will allow our text to go
--fluid-type-target === our ideal, fluid setting. 
--fluid-type-max === the largest we will allow our text to go 

*/


h1 {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 5rem; /* 80px */
    --fluid-type-target: 5vw;
    /* 
    By increasing the viewport unit, we speed up the rate of growth, 
    which will help to maintain its extra large size. 
    To reduce the rate of growth and have less difference 
    between your minimum and maximum sizes: reduce the size of --fluid-type-target. 
    */
    max-width: 15ch;
}
  
h2 {
    --fluid-type-min: 1.8rem;
    --fluid-type-max: 3rem;
}

h3 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.5rem;
}

h2,
h3 {
    max-width: 30ch;
}

p {
    max-width: 60ch;
}


/* 
clamp(minimum, preferred, maximum); 
*/

/* 
font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
); 
*/



h1, :not(#checkout) h1,
h2, :not(#checkout) h2,
h3, :not(#checkout) h3 {
    /* font-size: clamp(2.67rem,2.07rem + 3vw,4.21rem); */
    font-size: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)), var(--fluid-type-max, 1.3rem));
    max-width: 22ch;
}

h2 {
    font-size: clamp(2.14rem,1.74rem + 1.99vw,3.16rem);
    max-width: 30ch;
}

/* ----------------------------- end TEST ----------------------------- */
